html,
body,

#home {
    height: 100%;
}
.cover {
    background: #D5232E;
    background-size: cover;
    display: table;
    width: 100%;
}

.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

section {
    padding: 110px 0;
}

.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px;
    text-shadow: 1px 1px 1px #666;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.7);
    border: none;
}

.initial {
    height: 30px;
}

.center {
    text-align: center;
}

#headline {
    margin: 40px;
    font-size: 50px;
    letter-spacing: -2.5px;
}

#doSpaceIcon {
    width: 300px;
    height: 120px;
    border: 3px solid #181818;
    border-radius: 30px/180px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 5px;
}

#bricklayerIcon {
    width: 300px;
    height: 120px;
    border: 3px solid #181818;
    border-radius: 30px/180px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 5px;

}

#description {
    margin: 20px;
}

#description a {
    color: black;
    text-decoration: underline;
}

#description a:hover {
    color: white;
    text-decoration: underline;
}

.objective {
    background: #F3C32E;
    background-size: cover;
}

.objective-heading {
    font-size: 32px;
    color: #000080;
    text-shadow: 1px 1px 1px #444;
}

.objective-text {
    font-size: 24px;
    color: #000080;
    text-shadow: 1px 1px 1px #444;
}

#firstDays {
    background: #1AA050;
    color: #e6f0ff;
    text-align: center;
}

#firstDays a {
    color: #ffff00;
}

#browserCode {
    background: #2482C6;
    color: #000080;
}

#browserCode a {
    color:  #0000ff;
}

#browserCode a:hover {
    color: #000080;
}

#downloads {
    background: #D5232E;
    color: #e6f0ff;
    text-align: center;
}

#downloads small {
    color: #e6f0ff;
}

#downloads.mobileShow {
    color: #e6f0ff;
}

#downloads a {
    color: #ffff00;
}

.ed-icon {
    height: 60px;
    width: 60px;
    border-radius: 15px;
}

.eduHeadings {
    color: #ffff00;
    text-align: center;
}

#twoThreeDcode {
    text-shadow: none;
    line-height: 34px;
}

#twoDcode {
    background: #F3C32E;
    color: #000000;
}

#twoDcode a {
    color: white;
    text-shadow: .5px .5px .5px #ffff00;
}

#twoDcode a:hover {
    color: #ffff00;
    text-shadow: .5px .5px .5px #000080;
}

#projects {
    background: #1AA050;
    color: #e6f0ff;
}

#innovationTeam {
    background: #2482C6;
    color: #e6f0ff;    
}

.img-circle.reference-pic {
    width: 160px;
    height: 160px;
    padding: 5px;
    border: 3px solid #e6f0ff;
}

.ref-email {
    color: #ffff00;
}

.ref-email:hover {
    color: #e6f0ff;
}

.ref-info {
    color: #e6f0ff;
    text-decoration: underline;
}

.ref-info:hover {
    color: #ffff00;
}

.img-circle {
    height: 70px;
    width: 70px;
}

#contact_info {
    background: #D5232E;
    background-size: cover;
    color: #000000;
}

#contact_info .container {
    padding: 40px;
}


.aboutHeader {
    color: navy;
    text-decoration: underline;
}

.aboutHeadings {
    text-decoration: underline;

}

.center-title {
    text-align: center;
    color: #000000;
}

.col-sm-2 {
    text-align: center;
    
} 
.col-sm-2 h4 {
    font-size: 20px;
    text-align: center;
}

.col-sm-2 p {
    font-weight: bold;
    font-size: 16px;
}

.col-sm-2 a {
    color: #000080;
    text-decoration: none;
}

.col-sm-2 a:hover {
    color: #ffff00;
    text-decoration: underline;
    font-weight: bold;
}

.ed-content {
    text-align: left;
}

.col-sm-3 {
    padding: 20px 12px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Georgia, Times, serif;
}

footer a {
    color: silver;
}

/* Scrolling */

a[ id= "home" ]:target ~ #home section.cover {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "why-us" ]:target ~ #main section.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "contacto" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

/* Media Queries */             /*568 is iphone width*/

@media only screen 
and ( max-width: 568px ) {
    
    .cover {
        height: 100%;
    }
    
    #headline {
        margin-top: 50px;
        font-size: 30px;
    }
    
    #doSpaceIcon {
        width: 180px;
        height: 60px;
        border: 3px solid #181818;
        border-radius: 30px/180px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
        margin-right: 5px;
    }

    #bricklayerIcon {
        width: 180px;
        height: 60px;
        border: 3px solid #181818;
        border-radius: 30px/180px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
        margin-left: 5px;

    }
    
    .objective-text {
        font-size: 22px;
    }
    
    section {
        padding: 50px 0;
    }
    
    
    #number {
    font-size: 22px;
    }

    .ed-content {
        text-align: center;
    }
    
    .ed-content .collapse {
        text-align: left;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    
    #number {
    font-size: 18px;
    }
}